@import "tailwindcss";

@font-face {
  src: url('src/assets/fonts/AlanSans-Regular.woff2');
  font-family: 'Alan Sans';
  font-style: normal;
  font-display: swap;
}

:root {
  --orange: #f37d3d;
  --orange-dark: #e76b2f;
  --yellow: #fffbbe;
  --yellow-light: #fff3d8;
  --brown: #4f2c1d;
  --brown-light: #462416;
  --brown-dark: #3b1f14;
  --white: #faf6ec;
}

body {
  font-family: 'Alan Sans', sans-serif;
}

input {
  outline: none;
  border: none;
}